h1{
color : #b85c70;
font-family:'Kaushan Script';
weight : 180;
text-align:center;
}

body{
background-color : #2f545c !important;
}

.header{
text-align:center;
}

nav{
background-color : white;
height : 40px;
width : 100%;
top : 0;
position : fixed;
overflow : hidden;
}

nav a{
text-decoration : none;
color : #b85c70;
}

#submitbutton{
color : #b48c3c;
}

#inputtext{
text-align:center;
margin-left:500px;
}

.row{
background-color: #87BBA2;
padding-top: 50px;
padding-bottom: 200px;
display: flex;

}

.col{
max-width: 50%;
}

p{
font-family:'Kaushan Script';
text-align:center;
color : #b85c70;
font-size:180;
}

img{
object-fit:contain;
}




